.CreateIcon {
    margin-left: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.CloseIcon {
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

.ColorPicker {
    width: 370px;
}

.Select {
    width: 370px;
}
